.navbar a{
    text-decoration: none;
    color: black;
    float: right;
    margin-left: 10px;
    padding :5px;
}
.navbar{
    padding-bottom: 30px;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0ch;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color:orange;
}
.flexible-container{
    display: flex;
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    border-radius: 5px;
    padding:10px 40px;
    color:white;
    font-weight: 700;
    
}
.half-width{
    width:50%;

}
.half-width img{
    width:80%;
}
.top-banner{
    margin-top: 10px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
}
.experience-item{
    width:40%;
    margin-right:5%;
    margin-left:5%;
    box-shadow: 10px 10px 40px gray;
    padding-left:20px;
    border-radius: 10px;
    text-align: justify;
    
}
.experience-item p{
    padding-right: 10px;
}
.experience-area{
    background-image:url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image:linear-gradient(blue, cyan);
    border-image-slice: 1;
    
}
#full-stack-experience{
    border-left: 7px solid;
    border-image:linear-gradient(orange, tomato);
    border-image-slice: 1;
}

footer p{
    text-align: center;
    margin-top: 30px;
}
